@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*?Задаем стандартно Height 100%*/
body{
  height: 100%;
  font-family:Montserrat ;

}

.wrapper {
}

.container {
max-width: 1180px;
margin: 0 auto;
padding: 0px 10px;
}
._ibg{
  position: relative;
}
._ibg img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*!Header+burger*/
.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index:50 ;
  height: 793px;
  background:url(../img/header__background.jpg)center no-repeat;
  background-size: cover;
  padding:0 0 121px 0 ;
  background-position: right;
  
}

.header:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 3;
}


.header__body {
position: relative;
display: flex;
height: 80px;
align-items: center;
}


.header__logo {
flex: 0 0 60px;
position: relative;
z-index: 3;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
padding-right: 139px;
}


.header__burger {
display: none;
}



.header__menu {
}


.header__list {
display: flex;
position: relative;
z-index: 3;
}

.header__list li{
  margin: 0 0 0 20px;

}

.header__link {
color: black;
font-size: 15px;
text-decoration: none;
font-family: Montserrat;

}


.content {
padding-top: 110px;


}


.container {

}

.content__item {
  max-width: 500px;
 
  
}


.content__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.content__text:hover{
  
}
.content__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 35px;
}

.content__btn {
margin-top: 35px;
display: inline-flex;

}


.btn__1 {
border: 1px solid #0D5C63;
color: #0D5C63;
border-radius: 36px;
font-family: Montserrat;
font-weight: bold;
font-size: 14px;
letter-spacing: 0.2px;
text-align: center;
margin-right: 10px;
padding:10px 36px ;

}

.btn__1:first-child{
  background-color: #FF7B47;
  color: white;
}

/*!Header+burger**/

/*!consulting block__1*/


.consulting {
display: flex;
position: relative;
background: #FAFAFA;
z-index: 3;

}


.container {

}

.consulting__inner{
display: flex;
margin: 0px -15px;
margin: -111px 0 0 0;
}
.consulting__item {
margin: 0px 15px;
padding: 39px 70px 35px 30px;
background-color: white;
flex: 0 1 33.3333%;
box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
height: 100%;
}

.consulting__item:hover{
 
  background-color: #0D5C63 ;
  color:white ;
  
}

.consulting__img {
  margin-bottom: 10px;
  
}

.fa-briefcase:hover {
  color:  #0D5C63 currentColor ;
}
.fa-briefcase {
  color:  #0D5C63 ;
}

.fa-home {
  color:  #0D5C63;
}


.fa-book-open {
  color:  #0D5C63;
}


.consulting__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  
  margin-bottom: 10px;
  
}
.consulting__text {
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
margin-bottom: 10px;
}

/*!block__2*/
.designing {
  background:  #FAFAFA;;
  padding: 80px 0 0 0;
}


.container {

}

.title__all-topics{
text-align: center;

}
.designing__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  
}

.designing__text {
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
}



.designing__inner {
display: flex;
justify-content: space-between;
}

.designing__inner-item {
width: 100%;
height: 100%;
background-color: white;
text-align: center;
padding: 30px ;
flex: 1 0 23%;
margin-right: 30px;
margin-top: 30px;
padding: 30px ;

}

.designing__inner-img {

height: 48px;
}
.designing__inner-title {
/* h2 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
padding-bottom: 10px;
padding-top: 10px;
}


.designing__inner-text {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
}
/*!block__2*/


/************!block__3-Practice************/



.Practice {
margin-top: 50px;
display: flex;
background-color: #FAFAFA;
}


.container {

}


.title__all-topics {
margin-bottom: 45px;

}

.designing__title {

}

.designing__text {

}





.Practice__inner {
display: flex;
flex-wrap: wrap;
margin: 0 -15px;
}

.Practice__inner>*:not(last-child){
  margin-left: 19.5px;
}

.Practice__item {
flex: 0 1 22%;
margin: 0 15px;
display: flex;
flex-direction: column;
}

.Practice__item-content{
padding: 35px;
background-color:white;

height: 100%;

}



.Practice__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  padding-bottom: 15px;
  margin-right: 50px;
}

.Practice__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  
}


.Practice__img {
padding: 0 0 69% 0;
display: block;
}



/************!block__3-Practice************/

/*!block__4-Aboutus */
.Aboutus {
margin-top: 100px;
}
.container {
}
/**/
.title__all-topics {
}
.designing__title {
}
.designing__text {
}
/**/

.aboutus__inner {
display: flex;
justify-content: space-between;

}


/*left__column-video*/
.inner__video {

position: relative;
padding: 0 0 30.25% 0;
flex: 0 0  57%;
}
.inner__video iframe {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}

/*left__column-video*/




/*right__column-content*/
.inner__content {
flex: 1 1 300px;
padding: 0 0 0 131px;

}
.inner__content-title {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
margin-bottom: 10px;
}

.inner__content-text {
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
margin-bottom: 50px;

}


.inner__content-quick{
display: flex;

}
.quick__img{
  padding-right: 16px;
}
.fa-tachometer-alt {
  color: #FF7B47;

}
.fa-users {
color: #FF7B47;

}
.quick__item{
padding-bottom: 30px;
}
.content-quick__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  
}

.content-quick__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  
}
.inner__content-quick-2 {
}


/*right__column-content*/




/*!block__3-Aboutus */


/*!subscribe*/
.subscribe {
padding-top: 150px 0;

}
.container {
}
.subscribe__inner{
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 58px 0;
align-items: center;
margin: 0 -15px;
}

.subscribe__item {
  flex: 0 1 16.6667px;
  margin: 0 15px;
  padding: 30px 0;
}

/*!subscribe*/




/*!Newsletter*/
.newsletter {
position: relative;


}

.newsletter:after{
content: "";
background-color: #252B42;
position: absolute;
left: 0;
width: 100%;
bottom: 0;
height: 77px;
z-index: 1;
margin-bottom: -20px;
}
.newsletter__inner {
display: flex;
margin: 0 32px;
padding: 50px 30px;
align-items: center;
background-color: #17213C;
justify-content: space-between;
flex-wrap: wrap;
position: relative;
z-index: 2;

}
.newsletter__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  max-width: 266px;
}
.newsletter__form {
align-items: center;
display: flex;
background-color: white;
}
.newsletter__input {
  padding: 15px 200px 15px 20px;
  border-radius: 4px;
}
.newsletter__button {
  padding: 15px ;
  background-color:#FF7B47;
  color: wheat;
  border-radius: 4px;
}
.newsletter__item {
}



/*!Newsletter*/



/*!Touch*/
.touch {
margin: 20px 0 0 0;
background-color:  #FAFAFA;
padding-top: 70px;
}
.container {
}


.title__all-topics {
}
.designing__title {
}
.designing__text {
margin-bottom: 90px;
}



.touch__innet {
display: flex;
flex-wrap: wrap;

}


.touch__item {
padding: 50px 40px;
flex: 0 1 33.333%;
text-align: center;
align-items: center;
background-color: white;
}
.touch__item_active{
  background-color: #252B42;
  color: white;
  height: 420px;
  text-align: center;
}

.item-2{

}


.touch__img {
margin-bottom: 25px;

}


.touch__email {
margin-bottom: 15px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 14px;
text-align: center;
letter-spacing: 0.2px;

}
.touch__title {
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
 
}
.touch__form{
align-items: center;
display: flex;
justify-content: center;
}
.touch__bottom {
padding: 10px 30px;
border: 2px solid  #FF7B47;
text-align: center;
border-radius: 7px;
font-family: Montserrat;
font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color:  #FF7B47;

}
.touch__bottom_active{
  border: 2px solid  white;
  color:  white;
}

/*!Touch*/

.connectus {
margin-top: 0px;
padding: 70px 0px;
background-color:  #FAFAFA;

}

.container {
}

.connectus__item {
display: flex;
justify-content: space-between;
padding: 0 0px;
flex-wrap: wrap;
}
.connectus__title {

}

.fa-map-marker-alt{
margin: 0 auto;
padding-left:20px ;
}

.connectus__subtitle {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
margin-bottom: 10px;
}
.connectus__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.connectus__form {
  align-items: center;
  display: flex;
  justify-content: center;
}
.connectus__bottom {
  padding: 15px 40px;
  background: #FF7B47;
  text-align: center;
  border-radius: 4px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color:  white;
 


}
/*!Footer-UP*/
.Footerup {
  background: #17213C;
}
.container {
}
.Footerup__inner {
  display: flex;
 
}

.Footerup__item {
  padding: 50px 0;
  margin-right: 100px;
}

.Footerup__title {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #FFFFFF;
margin-bottom: 23px;
}

.Footerup__ul {

}

.Footerup__li {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #FFFFFF;
list-style-type: none;
margin-bottom: 20px;
margin-right: -20px;
}

.fa-phone-alt{
  margin-right: 20px;
}
.fa-map-marker-alt{
  margin-right: 30px;
}
.fa-paper-plane{
  margin-right: 20px;
}

/*****!Footer-down******/
.Footer-down {

}
.container {
}
.Footer-down__inner {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}


.Footer-down__item {
padding: 25px 0;
}

.Footer-down__text {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
}
.Footer-down__img {
  padding: 25px 0;
 
}
.Footer-down_pic{
  padding-right: 20px;
}



@media (max-width:1200px){
  .Practice{
    display: flex;
    padding-top: 50px;

  }
.Practice__inner{
   display: flex;
  justify-content: center;
  



}

.Practice__item{
margin-bottom: 30px;
flex: 0 1 40%;

}
.Practice__img{
  
  
}
.practice__pic{
 
 
}
/*!Footer-up*/

.Footerup__inner{
  flex-wrap: wrap;
}
.Footerup__item{

}

}

@media (max-width:992px){
  
  /*!block__1*/
  .consulting__inner{
    display: flex;
    flex-direction: column;
    max-width: 329px;
    
  }
  .consulting__item{
    margin-right: 0;
    margin: 0 0 10px 0;
  }
  /*!block__2*/
  .designing__inner{
    display: flex;
    flex-direction: column;
    
    
  }
  .designing__inner-item{
    margin-right: 0;
  
  }
/*!Aboutus block__4*/
.aboutus__inner{
  flex-direction: column;
}
.inner__content{
padding: 0;
}
.inner__video{
  padding-bottom: 500px;
}

/*!touch*/
.touch__innet{
  display: flex;
  flex-direction: column;
  }

  
  /*!touch*/

  .Footerup__item{

  }

}





@media (max-width:767px){
  /**!Header+burger**/
  .content__title{
    font-size: 40px;
    line-height: 60px;
    
  }
  .content__text{
margin-bottom: 50px;
  }
  .content__btn{
    display: flex;
    flex-direction: column;
    
  }
  .btn__1{
    margin-bottom: 15px;
  }
  .color-overlay {
    width: 100% ;
    height: 793px;
    background: white;
    opacity: 0.7;
    position: absolute;
    }
    .content {
    z-index: 1;
    position: relative;
    }
  
  .header__body{
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .header__logo{
    flex: 0 0 45px;
    margin-top: 10px;
    
  }


  .header__burger{
    display: block;
    width: 30px;
    height: 20px;
    z-index: 3;
    position: relative;
  }

  
  .header__burger span{
    position: absolute;
    background-color: black;
    position: absolute;
    left: 0 ;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
    z-index: 3;
  }

  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    z-index: 3;
  }
  .header__burger:before{
    top: 0;
  }
  
  .header__burger:after{
    bottom: 0;
  }
  

  /*****************************/
 
  .header__burger.active:before{
    transform:rotate(45deg) ;
    top: 9px;
  }

  .header__burger.active:after{
    transform:rotate(-45deg) ;
    bottom: 9px;
  }

  .header__burger.active span{
    transform:scale(0);
  }
/*********************************/


  .header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#18b5a4 ;
  padding: 70px 0 0 0 ;
  padding:70px 10px 0 10px  ;
  transition: all 0.3s ease 0s;
  overflow: auto;
  z-index: 2;
}
  
  .header__menu.active{
    top: 0;
  
  }
  
  .header__list {
    display: block;
   text-align: center;
   
}


.header__list li{
  margin: 40px 0 50px 0;/*Это мы делаем для того что бы сделать отступы наших  li*/
  
}
.header__link{
font-size: 50px;
font-family:
Montserrat;
color: #737373 ;
}
/*!Header+burger**/

/*!newsletter*/
.newsletter__input{
  padding: 15px 70px 15px 20px;
}
.newsletter__inner{
padding: 25px;
margin: 0;
}

/*!touch*/

.touch__item{

}
/*!connectus*/
.connectus__title{
  margin-bottom: 20px;
}
/*!Footer-up*/
.Footerup__item{
  padding-bottom: 0;
  
  }
}

@media (max-width: 576px) { 
  /*block__3-Practice*/
  .Practice__item{
    flex: 0 1 auto;
    
  }
  .Practice__item-content{
    

  }
  /*About block__4*/
  .inner__video{
    padding-bottom: 350px;
  }
  .newsletter__input{
    padding: 15px 20px 15px 20px; 
  }
  .newsletter__form{

  }

/*!Footer-up*/
.Footerup__item{
padding-bottom: 0;
padding-right: 0;
margin-right: 65px;

}
/*!footer-down*/
.Footer-down__img {
margin: 0 auto;
padding: 0;
}
.Footer-down_pic{
  
 
}
.Footer-down__item{
  margin: 0 auto ;
}

}